---
layout: base
---

<h1>steve ⭐</h1>

i'm <strong>steve</strong>. i write everything in lowercase.

{{> lists}}

<hr />

<small>made with <a href="https://www.11ty.dev/">11ty</a>. <a href="https://github.com/washingtonsteven/the-website">site source</a>. copyright? eh.</small>