---
layout: base
---

<h1>steve ⭐</h1>

i'm <strong>steve</strong>. i write everything in lowercase.

{{> lists}}

<hr />

{{#if collections.posts}}
<h2>posts</h2>

<ul>
{{#each collections.posts}}
<li><a href="{{this.url}}">{{data.title}}</a></li>
{{/each}}
</ul>

<hr />
{{/if}}