---
title: ⭐ http://stevenwa.sh
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ pkg.siteTitle }}</title>
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body>
		<main>
			{{! triple brackets to safe escape content. }}
			{{{ content }}}
		</main>
		<footer>
			<small>made with <a href="https://www.11ty.dev/">11ty</a>. <a href="https://github.com/washingtonsteven/the-website">site source</a>.</small>
		</footer>
	</body>
</html>