---
title: ⭐ http://esaevian.site
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ pkg.siteTitle }}</title>
		<link rel="stylesheet" href="/assets/css/main.css?v={{ buster }}" />
	</head>
	<body>
		<main>
			{{! triple brackets to safe escape content. }}
			{{{ content }}}
		</main>
		<footer>
			<small>made with <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">11ty</a>. <a href="https://github.com/washingtonsteven/the-website" target="_blank" rel="noopener noreferrer">site source</a>.</small>
		</footer>
	</body>
</html>